section.conditions(data-simplebar)
  .conditions__container.container-custom
    .conditions__grid
      .conditions__text-block
        p.conditions__title Условия проведения съёмки
        ul.conditions__list
          li.conditions__list-item Бронируя фотосессию, вы автоматически соглашаетесь с авторским стилем съёмки и обработки фотографий.
          li.conditions__list-item Я не ретуширую людей до неузнаваемости. Не изменяю части лица и формы тела, лишь убираю мелкие недостатки кожи, сохраняя её особенности.
          li.conditions__list-item Я сохраняю за собой право публиковать ваши фотографии в своём портфолио, социальных сетях, участвовать в выставках и фотоконкурсах. Фотосъёмка на условиях полной конфеденциальности увеличивает стоимость заказа на 30%.
          li.conditions__list-item Отправляю обработанные фото в электронном виде в течение 7 дней после съёмки.
          li.conditions__list-item Ваши готовые фотографии я храню у себя на компьютере в течение 6-ти месяцев.
          li.conditions__list-item Предоплата за бронирование даты съёмки — 50% от полной стоимости. Вторая половина суммы оплачивается сразу после съёмки.
      .conditions__icon-block
        <svg class="conditions__document-icon" width="526" height="600" viewBox="0 0 526 600" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M448.185 531.518V568.555C448.185 578.741 439.852 587.074 429.667 587.074H31.5185C21.3333 587.074 13 578.741 13 568.555V31.5185C13 21.3333 21.3333 13 31.5185 13H271.333L448.185 180.593V416.704" stroke="#DEDEDE" stroke-width="25"/>
          <path d="M448.185 188H290.778C280.593 188 272.259 179.667 272.259 169.481V22.2593" stroke="#DEDEDE" stroke-width="25"/>
          <path d="M96.3333 170.407H216.704" stroke="#DEDEDE" stroke-width="25"/>
          <path d="M96.3333 263H383.37" stroke="#DEDEDE" stroke-width="25"/>
          <path d="M96.3333 327.815H383.37" stroke="#DEDEDE" stroke-width="25"/>
          <path d="M96.3333 411.148H300.037" stroke="#DEDEDE" stroke-width="25"/>
          <path d="M96.3333 466.704H244.481" stroke="#DEDEDE" stroke-width="25"/>
          <path d="M429.667 430.592C416.704 401.889 346.333 400.037 346.333 450.963C346.333 490.778 414.852 541.704 429.667 541.704C444.482 541.704 513 490.778 513 450.963C513 394.481 422.259 398.185 422.259 458.37" stroke="#DEDEDE" stroke-width="25"/>
        </svg>
