.header {
	width: 100%;
	background-color: $color-main-black;
	transform: translateY(-43px);
	transition: transform $easing-in $duration-normal;

	&__grid {
		position: relative;
		display: flex;
		align-items: center;
		height: 43px;
	}

	&__menu-button {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: none;
		height: 14px;
		background-color: inherit;
	}

	&__title-block {
		position: absolute;
		left: 50%;
		display: flex;
		width: auto;
		transform: translateX(-50%);
	}

	&__logo {
		color: $color-white;
	}

	&__page-title {
		color: $color-gray-text;
	}

	&__social-icons-block {
		position: absolute;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		overflow: hidden;
		gap: 24px;
	}

	&__social-link {
		display: flex;
		align-items: center;
		overflow: hidden;
		max-width: 20px;
		box-sizing: border-box;
		white-space: nowrap;
		color: $color-white;
		background-color: $color-main-black;
	}

	&__social-icon {
		stroke-width: 1px;
	}
}

.phone-links {
	max-width: 90px;
}

.social-icons__content {
	margin-left: 9px;
}

.phone-links__icon + .phone-links__icon {
	margin-left: 24px;
}

.loaded .header {
	transform: translateY(0);
}

.button-lines {
	width: 16px;
	height: 1px;
	background-color: $color-white;
	transition: width ease $duration-fast;
}

.splitter {
	margin: 0 8px;
	color: $color-gray-text;
}

@media (hover: hover) and (pointer: fine) {
	.header__menu-button:hover .button-lines {
		width: 13px;
	}

	.header__menu-button:hover .center-lines {
		width: 16px;
	}

	.header__social-link:hover {
		max-width: 100%;
	}

	.header__social-icons-block:hover .header__social-link:not(:hover) {
		opacity: 0.3;
	}
}
