.header {
	width: 100%;
	background-color: $color-main-black;
	transform: translateY(-43px);
	transition: transform $easing-in $duration-normal;

	&__grid {
		position: relative;
		display: flex;
		align-items: center;
		height: 43px;
	}

	&__menu-button {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: none;
		height: 14px;
		background-color: inherit;
	}

	&__title-block {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	&__logo {
		color: $color-white;
	}

	&__page-title {
		color: $color-gray-text;
	}

	&__social-icons-block {
		position: absolute;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		overflow: hidden;
	}

	&__social-link {
		display: flex;
		align-items: center;
		color: $color-white;
		background-color: $color-main-black;
	}

	&__social-icon {
		margin-right: 24px;
	}

	.insta-link {
		z-index: 99;
		transform: translateX(145.55px);
	}

	.vk-link {
		z-index: 100;
		transform: translateX(168.98px);
	}
}

.loaded .header {
	transform: translateY(0);
}

.button-lines {
	width: 16px;
	height: 1px;
	background-color: $color-white;
	transition: width ease $duration-fast;
}

.splitter {
	margin: 0 8px;
	color: $color-gray-text;
}

@media (hover: hover) and (pointer: fine) {
	.header__menu-button:hover .button-lines {
		width: 13px;
	}

	.header__menu-button:hover .center-lines {
		width: 16px;
	}
}
