section.price(data-simplebar)
  .price__container.container-custom
    p.price__title Прайс
    p.price__conditions-text Пожалуйста, перед бронированием съёмки внимательно ознакомьтесь с её <a class='price__conditions-link' href='conditions-page.html'>условиями</a>.
    .price__grid
      .service-card
        .service-card__photo-block
        .service-card__title-block
          h2.service-card__title Индивидуальная съёмка
        .service-card__description-block
          ul.service-card__description-list
            li.service-card__description-list-item 20 фото с цветокоррекцией и ретушью кожи.
            li.service-card__description-list-item Помощь в подборе идеи, образа, локации и в позировании на съёмке.
            li.service-card__description-list-item Составление мудборда на основе ваших предпочтений.
        .service-card__sum-block
          p.service-card__sum 1 час = 1 500 ₽
      .service-card
        .service-card__photo-block
        .service-card__title-block
          h2.service-card__title Love Story
        .service-card__description-block
          ul.service-card__description-list
            li.service-card__description-list-item 25 фото с цветокоррекцией и ретушью кожи.
            li.service-card__description-list-item Помощь в подборе идеи, образа, локации и в позировании на съёмке.
            li.service-card__description-list-item Составление мудборда на основе ваших предпочтений.
        .service-card__sum-block
          p.service-card__sum 1 час = 2 000 ₽
      .service-card
        .service-card__photo-block
        .service-card__title-block
          h2.service-card__title Семейная съёмка
        .service-card__description-block
          ul.service-card__description-list
            li.service-card__description-list-item 25 фото с цветокоррекцией и ретушью кожи.
            li.service-card__description-list-item Помощь в подборе идеи, образа, локации и в позировании на съёмке.
            li.service-card__description-list-item Составление мудборда на основе ваших предпочтений.
        .service-card__sum-block
          p.service-card__sum 1 час = 2 500 ₽
      .service-card
        .service-card__photo-block
        .service-card__title-block
          h2.service-card__title Съёмка таинства крещения
        .service-card__description-block
          ul.service-card__description-list
            li.service-card__description-list-item 50 фото с цветокоррекцией.
            li.service-card__description-list-item Репортаж церемонии
            li.service-card__description-list-item Семейные фото по окончании таинства.
        .service-card__sum-block
          p.service-card__sum 1 час = 2 500 ₽
