header.header
	.container-custom
		.header__grid
			.header__button-block
				button.header__menu-button
					span.button-lines
					span.button-lines.center-lines
					span.button-lines
			.header__title-block
				a(href="#").header__logo Анастасия Конор
				span.splitter |
				a(href="#").header__page-title Портфолио
			.header__social-icons-block
