header.header
	.header__container.container-custom
		.header__grid
			.header__button-block
				button.header__menu-button
					span.button-lines
					span.button-lines.center-lines
					span.button-lines
			.header__title-block
				a(href="#").header__logo Анастасия Конор
				span.splitter |
				a(href="#").header__page-title Портфолио
			.header__social-icons-block
				a(href="").header__social-link.insta-link
					<svg class="header__social-icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5.57143 17H12.4286C14.9531 17 17 14.9531 17 12.4286V5.57143C17 3.04686 14.9531 1 12.4286 1H5.57143C3.04686 1 1 3.04686 1 5.57143V12.4286C1 14.9531 3.04686 17 5.57143 17Z" stroke="white" stroke-width="1"/>
						<path d="M9.00001 5.19046C7.98967 5.19046 7.0207 5.59182 6.30627 6.30624C5.59185 7.02067 5.19049 7.98964 5.19049 8.99998C5.19049 10.0103 5.59185 10.9793 6.30627 11.6937C7.0207 12.4081 7.98967 12.8095 9.00001 12.8095C10.0104 12.8095 10.9793 12.4081 11.6938 11.6937C12.4082 10.9793 12.8095 10.0103 12.8095 8.99998C12.8095 7.98964 12.4082 7.02067 11.6938 6.30624C10.9793 5.59182 10.0104 5.19046 9.00001 5.19046Z" stroke="white" stroke-width="1"/>
						<path d="M13.5714 3.66666C13.3693 3.66666 13.1755 3.74693 13.0326 3.88981C12.8897 4.0327 12.8094 4.22649 12.8094 4.42856C12.8094 4.63063 12.8897 4.82442 13.0326 4.96731C13.1755 5.11019 13.3693 5.19047 13.5714 5.19047C13.7734 5.19047 13.9672 5.11019 14.1101 4.96731C14.253 4.82442 14.3333 4.63063 14.3333 4.42856C14.3333 4.22649 14.253 4.0327 14.1101 3.88981C13.9672 3.74693 13.7734 3.66666 13.5714 3.66666Z" fill="white"/>
					</svg>
					span.social-icons__content conor_photographer
				a(href="").header__social-link.vk-link
					<svg class="header__social-icon" width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.8236 10.8605C18.0917 9.54334 16.2065 7.96068 15.4282 7.27198C15.2152 7.08342 15.1923 6.75719 15.3862 6.54867C16.8715 4.95257 18.0595 3.11863 18.4684 2.01044C18.6489 1.5209 18.2754 1.00367 17.7492 1.00367H16.2207C15.7169 1.00367 15.4221 1.18449 15.2815 1.47244C14.0471 4.002 12.9882 5.09675 12.247 5.73657C11.8319 6.09497 11.1848 5.79807 11.1848 5.25273C11.1848 4.20197 11.1848 2.84372 11.1848 1.88052C11.1848 1.41338 10.8028 1.03543 10.3316 1.03543L7.53931 1.00367C7.18783 1.00367 6.98705 1.40157 7.19801 1.68055L7.65904 2.34237C7.83254 2.57166 7.92621 2.85064 7.92621 3.13695L7.92377 6.11737C7.92377 6.63582 7.29535 6.88915 6.92229 6.52586C5.66016 5.29672 4.565 2.7867 4.17076 1.58647C4.05673 1.23907 3.73132 1.00448 3.36233 1.00367L1.85665 1C1.29176 1 0.878786 1.53556 1.03233 2.07479C2.40809 6.90381 5.23089 11.4978 10.2615 11.9959C10.7572 12.0448 11.1848 11.6457 11.1848 11.1517V9.58529C11.1848 9.13606 11.5371 8.74997 11.99 8.73857C12.0059 8.73816 12.0217 8.73816 12.0376 8.73816C13.3682 8.73816 14.8584 10.6747 15.3797 11.5805C15.5296 11.8412 15.8098 12 16.1128 12H18.1381C18.7291 12 19.1083 11.3732 18.8236 10.8605Z" stroke="white" stroke-width="0.7"/>
					</svg>
					span.social-icons__content Сообщество Вконтакте
