.navigation
	.navigation__content
		ul.navigation__list
			li.navigation__list-item
				button.navigation__filter-btn.navigation__item#button-all(data-filter="*") Портфолио
			li.navigation__list-item
				button.navigation__filter-btn.navigation__item#button-1(data-filter=".vertical") Индивидуальные съёмки
			li.navigation__list-item
				button.navigation__filter-btn.navigation__item#button-2(data-filter=".vertical") Семейные съёмки
			li.navigation__list-item
				button.navigation__filter-btn.navigation__item#button-3(data-filter=".vertical") Love Story
			li.navigation__list-item
				button.navigation__filter-btn.navigation__item#button-4(data-filter=".vertical") Крещения
			hr.splitter.navigation__splitter
			li.navigation__list-item
				a.navigation__item Подарочные сертификаты
			hr.splitter.navigation__splitter
			li.navigation__list-item
				a.navigation__item Прайс
			li.navigation__list-item
				a.navigation__item Условия проведения съёмки
			li.navigation__list-item
				a.navigation__item Отзывы


	.copyright-block
		p.copyright-text © Анастасия Кузнецова, 2022
