section.portfolio(data-simplebar)
  .container-custom
    .portfolio__grid
      .portfolio__item
        img(src="img/photo/portrait1.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait2.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait3.jpg", alt="").grid-item.horizontal
      .portfolio__item
        img(src="img/photo/portrait4.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait5.jpg", alt="").grid-item.horizontal
      .portfolio__item
        img(src="img/photo/portrait6.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait1.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait2.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait3.jpg", alt="").grid-item.horizontal
      .portfolio__item
        img(src="img/photo/portrait4.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait5.jpg", alt="").grid-item.horizontal
      .portfolio__item
        img(src="img/photo/portrait6.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait1.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait2.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait3.jpg", alt="").grid-item.horizontal
      .portfolio__item
        img(src="img/photo/portrait4.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait5.jpg", alt="").grid-item.horizontal
      .portfolio__item
        img(src="img/photo/portrait6.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait1.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait2.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait3.jpg", alt="").grid-item.horizontal
      .portfolio__item
        img(src="img/photo/portrait4.jpg", alt="").grid-item.vertical
      .portfolio__item
        img(src="img/photo/portrait5.jpg", alt="").grid-item.horizontal
      .portfolio__item
        img(src="img/photo/portrait6.jpg", alt="").grid-item.vertical
