main.home
	.grid
		.grid__item.grid-sizer
			img(src="images/1.jpg", alt="")
		.grid__item.grid-sizer
			img(src="images/2.jpg", alt="")
		.grid__item.grid-sizer
			img(src="images/1.jpg", alt="")
		.grid__item.grid-sizer
			img(src="images/1.jpg", alt="")
		.grid__item.grid-sizer
			img(src="images/1.jpg", alt="")
		.grid__item.grid-sizer
			img(src="images/2.jpg", alt="")
		.grid__item.grid-sizer
			img(src="images/1.jpg", alt="")
		.grid__item.grid-sizer
			img(src="images/2.jpg", alt="")
		.grid__item.grid-sizer
			img(src="images/1.jpg", alt="")
		.grid__item.grid-sizer
			img(src="images/1.jpg", alt="")
		.grid__item.grid-sizer
			img(src="images/1.jpg", alt="")

