extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Анастасия Конор | Прайс'; //- Title
  - var bodyClass = 'price-page' //- Классы для body

block content

block main
  main.main
    h1.visually-hidden Анастасия Конор прайс на услуги фотографии

    include ../blocks/price/price.pug
  //- Блок с подключением js файлов (при необходимости переопределяется)
block scripts
