extends pug/base

prepend vars
	//-

append vars
	//-

block content
	include pug/data

	.preloader
		p.preloader__text Загрузка
		.preloader-box
			span.circle
			span.circle
			span.circle
			span.circle

	.site
		.site__grid
			include pug/components/header
			include pug/components/navigation
			include pug/pages/home

	//- include pug/components/analytics
